<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title th:text="#{register_page}">Register Page</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2 mt-5">
            <h1 class="text-center" th:text="#{register_page}">Register Page</h1>

            <form method="post" action="/auth/register" enctype="multipart/form-data" th:object="${dto}">
                <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">

                <div class="mb-3">
                    <label for="username" class="form-label" th:text="#{username}">Username</label>

                    <input type="text" class="form-control" name="username" id="username" th:field="*{username}">

                    <div th:if="${#fields.hasErrors('username')}">
                        <span th:each="er : ${#fields.errors('username')}" th:text="#{${er}}"
                              class="text-danger"></span>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="password" class="form-label" th:text="#{password}">Password</label>
                    <input type="password" class="form-control" name="password" id="password" th:field="*{password}">

                    <div th:if="${#fields.hasErrors('password')}">
                        <span th:each="er : ${#fields.errors('password')}" th:text="#{${er}}"
                              class="text-danger"></span>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="photo" class="form-label" th:text="#{profile_photo}">Profile Photo</label>
                    <input type="file" class="form-control" id="photo" name="photo">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{register}">Register</button>
                <a href="/auth/login" th:text="#{login}">Login</a>
            </form>

        </div>
    </div>
</div>
<section th:replace="fragments :: js_links"></section>
</body>
</html>