<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Add City</title>
</head>

<body class="container mt-5">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Add City</a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/auth/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <h2 class="mt-5 mb-4">Add City</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/admin/city/add}" method="post">
                        <div class="form-group">
                            <label for="name">City Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add City</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and Popper.js scripts -->
<section th:replace="fragments :: js_links"></section>
</body>

</html>
