<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Show Cities</title>
</head>

<body class="container mt-5">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Show Cities</a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/auth/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-between mb-3">
        <div class="col-md-8">
            <h2 class="mb-4">Show Cities</h2>
        </div>
        <div class="col-md-4 text-right">
            <a th:href="@{/admin/city/add}" class="btn btn-success">Add City</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center bg-dark text-white">
            <h2 class="mt-3 mb-4">Cities List</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Add Weather Forecast</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="city : ${cities}">
                    <td th:text="${city.id}"></td>
                    <td th:text="${city.name}"></td>
                    <td>
                        <a th:href="@{/admin/city/edit/{id}(id=${city.id})}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/admin/weather/add/{id}(id=${city.id})}" class="btn btn-info btn-sm">Add Weather Forecast</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and Popper.js scripts -->
<section th:replace="fragments :: js_links"></section>
</body>

</html>
