<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Delete Todo</title>
</head>

<body class="container mt-5">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    <h2 class="mt-5 mb-4">Delete Todo</h2>
                </div>
                <div class="card-body">

                    <form action="/todos/delete" method="post" class="needs-validation" novalidate>
                        <input type="hidden" name="id" th:value="${todoToDelete.id}">

                        <p class="lead">Are you sure you want to delete the following Todo?</p>

                        <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            <input type="text" id="title" name="title" class="form-control" th:value="${todoToDelete.title}" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="priority" class="form-label">Priority:</label>
                            <input type="text" id="priority" name="priority" class="form-control" th:value="${todoToDelete.priority}" readonly>
                        </div>

                        <button type="submit" class="btn btn-danger">Delete Todo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and Popper.js scripts -->
<section th:replace="fragments :: js_links"></section>
</body>

</html>
