<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>

<body class="container mt-5">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- User photo section -->
    <div class="user-profile">
        <img th:src="${profilePhoto}" alt="Profile Photo"/>
    </div>

    <a class="navbar-brand" href="#">Todo App</a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/todos/add}">Add Todo</a>
            </li>
            <!-- Add more navbar links as needed -->
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <h2 class="mt-5 mb-4">Todo List</h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-success mb-3" th:href="@{/todos/add}">Add Todo</a>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Priority</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="todo : ${todos}">
                            <td th:text="${todo.id}"></td>
                            <td th:text="${todo.title}"></td>
                            <td th:text="${todo.priority}"></td>
                            <td th:text="${todo.createdAt}"></td>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                   th:href="@{/todos/update/{id}(id=${todo.id})}">Update</a>
                                <a class="btn btn-danger btn-sm"
                                   th:href="@{/todos/delete/{id}(id=${todo.id})}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and Popper.js scripts -->
<section th:replace="fragments :: js_links"></section>
</body>

</html>
