<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
<h1>Todo List</h1>

<a th:href="@{/todos/add}">Add Todo</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Created At</th>
        <th>Action</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.priority}"></td>
        <td th:text="${todo.createdAt}"></td>
        <td>
            <a th:href="@{/todos/update/{id}(id=${todo.id})}">Update</a>
            |
            <a th:href="@{/todos/delete/{id}(id=${todo.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
