<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Update Todo</title>
</head>

<body class="container mt-5">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-warning text-white">
                    <h2 class="mt-4 mb-4">Update Todo</h2>
                </div>
                <div class="card-body">

                    <form action="/todos/update" method="post">
                        <input type="hidden" name="id" th:value="${todoToUpdate.id}" class="form-control">

                        <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            <input type="text" id="title" name="title" th:value="${todoToUpdate.title}" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="priority" class="form-label">Priority:</label>
                            <input type="text" id="priority" name="priority" th:value="${todoToUpdate.priority}" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-warning">Update Todo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and Popper.js scripts -->
<section th:replace="fragments :: js_links"></section>
</body>

</html>
