<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title th:text="#{user_list}">User List</title>
</head>

<body class="container mt-5">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- User photo section -->
    <div class="user-profile">
        <img th:src="${profilePhoto}" alt="Profile Photo"/>
    </div>

    <a class="navbar-brand" href="#" th:text="#{user_list}">User List</a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/auth/logout}" th:text="#{logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <h2 class="mt-5 mb-4" th:text="#{user_list}">User List</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th th:text="#{id}">ID</th>
                            <th th:text="#{username}">Username</th>
                            <th th:text="#{blocked}">Blocked</th>
                            <th th:text="#{action}">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.blocked ? #{yes} : #{no}}"></td>
                            <td>
                                <form th:action="@{/auth/block/{userId}(userId=${user.id})}" method="post">
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-danger btn-sm" th:text="#{block}">Block</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and Popper.js scripts -->
<section th:replace="fragments :: js_links"></section>
</body>

</html>
